In [0]:
#Create DataFrame

employee_data = [(10, "Raj", "Kumar","1999","180","M", 2000),
                 (20, "Rahul","Rajan", "2002","200","F",8000),
                 (39, "Raghav","Bales","2919","198",None,6800),
                 (40, "Raja","Singh","2004","100","F",7000),
                 (50, "Rama","Krish", "2008","400","M", 1000),
                 (60,"Rasul","Mishra","2014","500","M", 5000),
                 (78, "Kumar","Chand","2984","680","M", 5000)
                ]

employee_schema= ["employee_1d","First_name","Last_name","doj","employee_dept_id","gender","salary"]

empDF = spark.createDataFrame(data=employee_data, schema= employee_schema)

display(empDF)

employee_1d,First_name,Last_name,doj,employee_dept_id,gender,salary
10,Raj,Kumar,1999,180,M,2000
20,Rahul,Rajan,2002,200,F,8000
39,Raghav,Bales,2919,198,null,6800
40,Raja,Singh,2004,100,F,7000
50,Rama,Krish,2008,400,M,1000
60,Rasul,Mishra,2014,500,M,5000
78,Kumar,Chand,2984,680,M,5000

In [0]:
#Add new column using constant literal

from pyspark.sql.functions import lit

empDF_AddColumn = empDF.withColumn("Location", lit("Mumbai")).show()

+-----------+----------+---------+----+----------------+------+------+--------+
|employee_1d|First_name|Last_name| doj|employee_dept_id|gender|salary|Location|
+-----------+----------+---------+----+----------------+------+------+--------+
|         10|       Raj|    Kumar|1999|             180|     M|  2000|  Mumbai|
|         20|     Rahul|    Rajan|2002|             200|     F|  8000|  Mumbai|
|         39|    Raghav|    Bales|2919|             198|  null|  6800|  Mumbai|
|         40|      Raja|    Singh|2004|             100|     F|  7000|  Mumbai|
|         50|      Rama|    Krish|2008|             400|     M|  1000|  Mumbai|
|         60|     Rasul|   Mishra|2014|             500|     M|  5000|  Mumbai|
|         78|     Kumar|    Chand|2984|             680|     M|  5000|  Mumbai|
+-----------+----------+---------+----+----------------+------+------+--------+

In [0]:
#Add new column by calculation

from pyspark.sql.functions import concat

empDF_AddColumn = empDF.withColumn("Bonus",empDF.salary*0.1)

display(empDF_AddColumn)

employee_1d,First_name,Last_name,doj,employee_dept_id,gender,salary,Bonus
10,Raj,Kumar,1999,180,M,2000,200.0
20,Rahul,Rajan,2002,200,F,8000,800.0
39,Raghav,Bales,2919,198,null,6800,680.0
40,Raja,Singh,2004,100,F,7000,700.0
50,Rama,Krish,2008,400,M,1000,100.0
60,Rasul,Mishra,2014,500,M,5000,500.0
78,Kumar,Chand,2984,680,M,5000,500.0

In [0]:
empDF_AddColumn = empDF.withColumn("Bonus",empDF.salary*0.1).withColumn("Name",concat("First_name" , "Last_name")).show()

+-----------+----------+---------+----+----------------+------+------+-----+-----------+
|employee_1d|First_name|Last_name| doj|employee_dept_id|gender|salary|Bonus|       Name|
+-----------+----------+---------+----+----------------+------+------+-----+-----------+
|         10|       Raj|    Kumar|1999|             180|     M|  2000|200.0|   RajKumar|
|         20|     Rahul|    Rajan|2002|             200|     F|  8000|800.0| RahulRajan|
|         39|    Raghav|    Bales|2919|             198|  null|  6800|680.0|RaghavBales|
|         40|      Raja|    Singh|2004|             100|     F|  7000|700.0|  RajaSingh|
|         50|      Rama|    Krish|2008|             400|     M|  1000|100.0|  RamaKrish|
|         60|     Rasul|   Mishra|2014|             500|     M|  5000|500.0|RasulMishra|
|         78|     Kumar|    Chand|2984|             680|     M|  5000|500.0| KumarChand|
+-----------+----------+---------+----+----------------+------+------+-----+-----------+

In [0]:
empDF_AddColumn = empDF.withColumn("Bonus",empDF.salary*0.1).withColumn("Name",concat("First_name",lit(" "),"Last_name")).show()

+-----------+----------+---------+----+----------------+------+------+-----+------------+
|employee_1d|First_name|Last_name| doj|employee_dept_id|gender|salary|Bonus|        Name|
+-----------+----------+---------+----+----------------+------+------+-----+------------+
|         10|       Raj|    Kumar|1999|             180|     M|  2000|200.0|   Raj Kumar|
|         20|     Rahul|    Rajan|2002|             200|     F|  8000|800.0| Rahul Rajan|
|         39|    Raghav|    Bales|2919|             198|  null|  6800|680.0|Raghav Bales|
|         40|      Raja|    Singh|2004|             100|     F|  7000|700.0|  Raja Singh|
|         50|      Rama|    Krish|2008|             400|     M|  1000|100.0|  Rama Krish|
|         60|     Rasul|   Mishra|2014|             500|     M|  5000|500.0|Rasul Mishra|
|         78|     Kumar|    Chand|2984|             680|     M|  5000|500.0| Kumar Chand|
+-----------+----------+---------+----+----------------+------+------+-----+------------+

In [0]:
#Rename a Column

empDF_RenameColumn = empDF_AddColumn.withColumnRenamed("Name","Full_Name").show()

In [0]:
#Drop a column

empDF_DropColumn= empDF_AddColumn.drop("Name").show()